mixin feature(fname, tId)
    .row
        .col-xs-12
            .page-header
                != "<h1" + ( block ? " ng-click=\"show('" + fname + "',true)\")>" : ">")
                if block
                    small
                        span.glyphicon.glyphicon-chevron-down.collapse-indicator(
                        ng-class="!show('#{fname}') ? [] : ['collapse-indicator-rotate']"
                        )
                | &nbsp;
                ="{{'"+tId+"' | translate}}"
                //small= ' ' + version
    if block
        div(collapse="show('#{fname}')")
            block
mixin info(title)
    .col-xs-6.col-sm-4.col-md-3: .panel.panel-info
        .panel-heading: h2.panel-title #{title}
        .panel-body
            if block
                block

mixin wordList(type, origin)
        div.col-xs-12(ng-show="sel.wordList === '#{type+origin.charAt(0).toUpperCase()+origin.slice(1)}'")
            table.table.table-bordered.table-striped(st-table="statistic.safe['#{type+origin.charAt(0).toUpperCase()+origin.slice(1)}']", st-safe-src="statistic.resultLists['#{type+origin.charAt(0).toUpperCase()+origin.slice(1)}']")
                thead
                    tr
                        th.col-xs-3(st-sort="word") {{ 'SEC_STATS_WORD' | translate }}
                        th.col-xs-4(st-sort="pos") {{ 'SEC_STATS_POS' | translate }}
                        th.col-xs-1(st-sort!="#{(type == 'more' ? origin + 'Record.' : '') + 'absFreq' + (type == 'more' ? '' : '\", st-sort-default=\'reverse\'')}")
                            | {{ 'SEC_STATS_COUNTINX' | translate : {x: statistic.resultLists["#{origin == "source" ? "source" : "target"}"].displayName} }}
                        if type == "more"
                            th.col-xs-1(st-sort="#{origin == 'source' ? 'target' : 'source'}Record.absFreq") {{ 'SEC_STATS_COUNTINX' | translate : {x: statistic.resultLists["#{origin == "target" ? "source" : "target"}"].displayName} }}
                        th.col-xs-1(st-sort!="#{(type == 'more' ? origin + 'Record.' : '') + 'relFreq' + (type == 'more' ? '' : '\", st-sort-default=\'reverse\'')}")
                            | {{ 'SEC_STATS_RELCOUNTINX' | translate : {x: statistic.resultLists["#{origin == "source" ? "source" : "target"}"].displayName} }}
                        if type == "more"
                            th.col-xs-1(st-sort="#{origin == 'source' ? 'target' : 'source'}Record.relFreq") {{ 'SEC_STATS_RELCOUNTINX' | translate : {x: statistic.resultLists["#{origin == "target" ? "source" : "target"}"].displayName} }}
                            th.col-xs-1(st-sort="#{origin == 'source' ? '' : '-'}logRelativeRatio", st-sort-default="reverse") {{ 'SEC_STATS_RATIO' | translate }}
                    tr
                        th(colspan="#{type == 'more' ? '7' : '4'}"): input.input-sm.form-control(st-search="word", placeholder="Search word...", type="search")
                        th(ng-show="false"): input.input-sm.form-control.st-global-search(st-search="pos", type="search")
                tbody
                    tr(ng-repeat="word in statistic.safe['#{type+origin.charAt(0).toUpperCase()+origin.slice(1)}']")
                        td {{word.word}}
                        td {{'SEC_STATS_POS_' + word.pos | translate}}
                        td.text-right {{word.#{type == 'more' ? origin + 'Record.' : ''}absFreq}}
                        if type == "more"
                            td.text-right {{word.#{origin == "source" ? "target" : "source"}Record.absFreq}}
                        td.text-right {{word.#{type == 'more' ? origin + 'Record.' : ''}relFreq * 1000 | number: 3}} &permil;
                        if type == "more"
                            td.text-right {{word.#{origin == "source" ? "target" : "source"}Record.relFreq * 1000 | number: 3}} &permil;
                            td.text-right {{#{origin == "source" ? "" : "-"}word.logRelativeRatio | number: 2}}
                            //td {{word.#{origin}Record.relFreq / word.#{origin == "source" ? "target" : "source"}Record.relFreq | number: 2}}
                        .row
                tfoot
                    tr
                        td.text-center(colspan="#{type == 'more' ? '7' : '4'}")
                            div(st-pagination="", st-items-by-page="parseFloat(paginationSize)", st-template="template/smart-table/pagination2.html")

mixin coocList(type)
        div.col-xs-12(ng-show="sel.wordList === '#{type}'")
            table.table.table-bordered.table-striped()
                thead
                    tr
                        th.col-xs-3() {{ 'SEC_STATS_WORD1' | translate }}
                        th.col-xs-3() {{ 'SEC_STATS_WORD2' | translate }}
                        th.col-xs-3() {{ 'SEC_STATS_SIGNIFICANCE' | translate }}
                tbody
                    if type == "normal"
                        tr(ng-repeat="link in statistic.safe")
                            td {{link.source.name}}
                            td {{link.target.name}}
                            td {{link.value}}
                            .row
                    if type == "normal2"
                        tr(ng-repeat="link in statistic.safe")
                            td {{link.value}}
                            td {{link.value}}
                            td {{link.value}}
                            .row
                tfoot
                    tr
                        td.text-center(colspan= '7' )
                            div()