include ../mixins.jade

.container
    +feature('Konfiguration', 'SEC_WCONF')
        .row
            form(ng-submit="submit()").form
                .col-xs-12.col-md-8
                    .form-group
                        .col-xs-12.col-md-12
                            label.control-label(for="words") {{ 'SEC_WCONF_WORDS' | translate }}
                                small  {{ 'SEC_WCONF_WORDSHINT' | translate }}
                            input.form-control(ng-model="words", id="words", type="text")
                    .form-group
                        .col-xs-6.col-md-6.marginTop15
                            label.control-label(for="")
                                | {{ 'SEC_CONFIG_LANGUAGESELECTION_TEXT' | translate }}
                            ui-select(multiple, searchEnabled="true", close-on-select="false",
                            theme="bootstrap", ng-model="sel.languages", ng-change="updatecorp()")
                                ui-select-match(placeholder="{{'SEC_CONFIG_LANGUAGESELECTION_FILLIN' | translate }}") {{$item.language}}
                                ui-select-choices(
                                repeat="lang.language as lang in languages | filter: $select.search | orderBy: 'language'"
                                )
                                    div(ng-bind-html="lang.language | highlight: $select.search")
                        .col-xs-6.col-md-6.marginTop15
                            label.control-label(for="")
                                | {{ 'SEC_CONFIG_GENRESELECTION_TEXT' | translate }}
                            ui-select(multiple, searchEnabled="true", close-on-select="false",
                            theme="bootstrap", ng-model="sel.genres", ng-change="updatecorp()")
                                ui-select-match(placeholder="{{'SEC_CONFIG_GENRESELECTION_FILLIN' | translate }}") {{$item.genre}}
                                ui-select-choices(
                                repeat="genre.genre as genre in genres | filter: $select.search | orderBy: 'genre'"
                                )
                                    div(ng-bind-html="genre.genre | highlight: $select.search")
                .col-xs-12.col-md-4
                    .checkbox
                        label.control-label(for="datetype")
                            input(ng-model="datetype", id="datetypecb", type="checkbox", ng-change="updatecorp()")
                            b {{ 'SEC_WCONF_DATETYPE' | translate}}
                    +feature('Jahresselektion', 'SEC_WCONF_YEARS')
                        .form-group
                            label.control-label(for="minYear") {{ 'SEC_WCONF_FIRSTY' | translate : {year : minYear} }}
                            input(ng-model="minYear", id="minYear", type="range",
                            min="{{minYearScale}}", max="{{maxYearScale}}", step="1", class="form-control")
                        .form-group
                            label.control-label(for="maxYear") {{ 'SEC_WCONF_LASTY' | translate : {year : maxYear} }}
                            input(ng-model="maxYear", id="maxYear", type="range",
                            min="{{minYearScale}}", max="{{maxYearScale}}", step="1", class="form-control")
                    


                    button.col-xs-12.btn(
                        ng-class="[validation() ? 'btn-disabled' : 'btn-primary']",
                        type="submit",
                        popover="{{validation()}}",
                        popover-trigger="mouseenter",
                        popover-placement="left"
                    ) {{ 'SEC_CONFIG_SEND' | translate }}

    +feature('Visualisierung', 'SEC_COOC')
        .row
            form
                .col-xs-12.col-md-4
            #visualization-words
    +feature('CoocTable', 'SEC_COOC_TABLE')
        .row
            #cooctable
    +feature('Statistik', 'SEC_STATS')
        .row(ng-hide="statsEmpty")
            .col-xs-12
                form
                    .col-xs-4
                        .form-group
                            .btn-group(dropdown)
                                button.btn.btn-primary.btn-lg.dropdown-toggle(id="visiblelist", type="button", dropdown-toggle)
                                    | {{ 'SEC_STATS' | translate: '' }}&nbsp;
                                    span.caret
                                ul.dropdown-menu(role="menu", aria-labelledby="visiblelist")
                                    li(role="menuitem", ng-click="selectCooclist('normal')"): a normal
                                    li(role="menuitem", ng-click="selectCooclist('normal2')"): a normal2
                    .col-xs-4
                        .form-group
                            label.control-label(for="paginationSize")
                                | {{ 'SEC_STATS_PAGINATIONSIZE' | translate : { x : paginationSize} }}
                            input.form-control(ng-model="paginationSize", id="paginationSize",
                            type="range", min=10, max=100, step=5)
        .row(ng-hide="statsEmpty")
            +coocList("normal")
            +coocList("normal2")
    // Padding nach unten
    .row
        p
