doctype html
html(ng-app="ir-matrix-cooc")
    head
        base(href='/')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="icon", type="image/png", href="/fav.ico")
        title= appName

        for cssFile in cssFiles
            link(rel="stylesheet", href=cssFile)

        // Preloaded Data
        script.
            var preloadedData = !{data};
        for jsFile in jsFiles
            script(src=jsFile)
    body
        nav.navbar.navbar-default(role='navigation', ng-controller="headerController")
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#')
                        kbd {{ 'APP_TITLE' | translate}}

                ul.nav.navbar-nav
                    li(ng-class="getClass('/corpora')")
                        a(href='/corpora', translate='NAV_CORPORA')
                    li(ng-class="getClass('/words')")
                        a(href='/words', translate='NAV_WORDS')
                    li(ng-class="getClass('/cooc')")
                        a(href='/cooc', translate='NAV_COOC')
                   // li(ng-class="getClass('/manual')")
                        a(href='/manual', translate='NAV_HELP')
                    
                ul.nav.navbar-nav.navbar-right
                    li: a: span(ng-click="setLang('en')") en
                    li: a: span(ng-click="setLang('de')") de
                    img#clarin-d-logo(src="/images/ClarinD-Logo_140.jpg", title="CLARIN-D")
        div(ng-view)
        if preloadHTML
            script(type="text/ng-template", id="#{preloadHTMLPath}")
                != preloadHTML


