include ../mixins.jade

.container
    +feature('Konfiguration', 'Neue Anfragen erstellen')
        .row
            form(ng-submit="submit()")
                .col-xs-12.col-md-8
                    .form-group
                        label.control-label(for="wordCount") Länge Wortliste ({{wordCount}})
                        input(ng-model="wordCount", id="wordCount", type="range",
                              min=100, max=20000, step=100, class="form-control")
                    .form-group
                        label.control-label(for="")
                            | Hier zu vergleichende Korpora auswählen, Filterung nach DB-Bez. oder int. Sprachennamen
                        ui-select(multiple, searchEnabled="true", close-on-select="false",
                                  theme="bootstrap", ng-model="sel.corpora")
                            ui-select-match(placeholder="Bitte auswählen...") {{$item.displayName}}
                            ui-select-choices(
                                repeat="corpus.name as corpus in corpora | filter: $select.search | orderBy: 'language' | limitTo: limit",
                                group-by="'language'"
                            )
                                div(ng-bind-html="corpus.displayName | highlight: $select.search")
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="requestName") Anfragebezeichner
                        input.form-control(ng-model="requestName", id="requestName", type="text")
                    .form-group
                        label.control-label(for="") Vergleichsmaß
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.metric")
                            ui-select-match: div {{$select.selected.title}}
                            ui-select-choices(repeat="metric.key as metric in metrics", group-by="metricgroup")
                                div(ng-bind-html="metric.title | highlight: $select.search")
                    button.col-xs-12.btn(
                        ng-class="[validation() ? 'btn-disabled' : 'btn-primary']",
                        type="submit",
                        popover="{{validation()}}",
                        popover-trigger="mouseenter",
                        popover-placement="left"
                    ) Abschicken

    +feature('Jobauswahl', 'Liste Ihrer Anfragen')
        .row#jobs
            .col-xs-12: .list-group
                a.list-group-item.list-group-item-warning(href="./korpora/#", ng-show="jobs.length === 0")
                    | Bisher wurden keine Anfragen in dieser Session getätigt.
                a.list-group-item.col-xs-6.col-sm-4.col-lg-3(
                href="./korpora/#",
                ng-repeat="(jobid, jobdata) in jobs",
                ng-click="selectJob(jobdata)",
                ng-dblclick="setConfig(jobdata)",
                ng-class="['list-group-item-' + (jobdata.finished ? (jobdata.new ? 'success' : 'info') : 'warning') +" +
                "(currentJob() === jobdata.requestId ? ', active' : '')]"
                )
                    span.badge(ng-show="!jobdata.finished"): i.fa.fa-spinner.fa-spin
                    span.badge(ng-show="jobdata.new"): i.fa.fa-check
                    span.badge(ng-show="!jobdata.new && jobdata.finished", ng-click="deleteJob(jobdata)")
                        i.fa.fa-remove
                    samp.left {{'#'+jobdata.requestId}}
                    h4 {{jobdata.requestName}}
                    samp
                        span(ng-repeat="corpus in jobdata.corpora | limitTo: 3")
                            | {{corpus.displayName}},
                            br
                        | {{jobdata.corpora.length-3}} weitere


    +feature('Visualisierung', 'Matrixdarstellung')
        .row
            form
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="maxClusterDiameter") Maximaler Clusterdurchmesser ({{maxClusterDiameter | rounded: 3}})
                        input.form-control(ng-model="maxClusterDiameter", id="maxClusterDiameter",
                        type="range", min=0, max=1, step=0.001)
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="heatMapColors") Farbskala
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.colors")
                            ui-select-match: div {{$select.selected}}
                            ui-select-choices(repeat="color in heatMapColors")
                                div(ng-bind-html="color | highlight: $select.search")
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="") Sortierung
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.sorting")
                            ui-select-match: div {{$select.selected.title}}
                            ui-select-choices(repeat="sorting.key as sorting in sortings")
                                div(ng-bind-html="sorting.title | highlight: $select.search")
            #visualization

    +feature('Statistik', '{{statistics.pairName}}')
        .row
            div.col-xs-4(ng-repeat="result in statistic.resultLists['bothLists']")
                b {{result.name}}
                table.table.table-bordered.table-striped(st-table="rowCollection")
                    thead: tr
                        th Wort
                        th Häufigkeit in X
                        th Häufigkeit in Y
                        th Logarithmus des Verhältnisses
                    tbody
                        tr(ng-repeat="word in result.list | limitTo: 10")
                            td {{word.word}}
                            td {{word.freq1}}
                            td {{word.freq2}}
                            td {{word.logRatioNormalized}}
                            .row
            div.col-xs-4(ng-repeat="result in statistic.resultLists['oneList']")
                b {{result.name}}
                table.table.table-bordered.table-striped(st-table="rowCollection")
                    thead: tr
                        th Wort
                        th Häufigkeit
                    tbody
                        tr(ng-repeat="word in result.list | limitTo: 10")
                            td {{word.word}}
                            td {{word.freq}}

    // Padding nach unten
    .row
        p