include ../mixins.jade

.container
    +feature('Upload', 'SEC_UPLOAD')
        .row
            .col-xs-6
                form(ng-submit="upload()")
                    .form-group
                        label.control-label(for="uploadname") {{ 'SEC_UPLOAD_NAME' | translate }}
                        input.form-control(ng-model="uploadModel.displayName", id="uploadname", type="text", placeholder="{{uploadModel.file.name}}")
                    .form-group
                        label.control-label {{ 'SEC_UPLOAD_FILETYPE' | translate }}
                        br
                        .btn-group
                            label.btn.btn-primary(ng-model="uploadModel.filetype", btn-radio="'plain'") Plaintext
                            label.btn.btn-primary(ng-model="uploadModel.filetype", btn-radio="'tcf+xml'") TCF
                    .form-group
                        label.control-label(for="corpusUploadSelection") {{ 'SEC_UPLOAD_CHOOSEFILE' | translate }}
                        .well.well-lg(ngf-drop, ng-model="files", ng-class="{'well-ok' : uploadModel.file.name}")
                            center: button.btn(ngf-select, ng-model="uploadModel.file", id="corpusUploadSelection", ng-class="{'btn-info' : !uploadModel.file.name, 'btn-success' : uploadModel.file.name}")
                                div(ng-show="!uploadModel.file.name") {{ 'SEC_UPLOAD_FILESELECT' | translate }}
                                div(ng-show="uploadModel.file.name") {{ uploadModel.file.name }}
                    .form-group
                        progressbar(ng-hide="uploadModel.progress == 0", max="100", value="uploadModel.progress")
                            span {{uploadModel.progress}} %
                        button.btn(
                            ng-class="[uploadModel.validation() ? 'btn-disabled' : 'btn-primary']",
                            type="submit",
                            popover="{{uploadModel.validation()}}",
                            popover-trigger="mouseenter",
                            popover-placement="right"
                        ) {{ 'SEC_UPLOAD_SEND' | translate }}
            .col-xs-6
                .panel.panel-info
                    .panel-heading(ng-show="userCorpora.length == 0") No corpus uploaded yet.
                    .panel-heading(ng-show="userCorpora.length > 0") {{ 'SEC_UPLOADED_HEADING' | translate }}
                    .panel-body(ng-show="userCorpora.length > 0")
                        table.table.table-bordered.table-striped(st-table="userCorpora")
                            thead
                                tr
                                    th.col-xs-8 {{ 'SEC_UPLOADED_NAME' | translate }}
                                    th.col-xs-2 {{ 'SEC_UPLOADED_SIZE' | translate }}
                                    th.col-xs-2 {{ 'SEC_UPLOADED_DELETE' | translate }}
                            tbody
                                tr(ng-repeat="corpus in userCorpora")
                                    td {{corpus.displayName}}
                                    td {{corpus.words.length}}
                                    td: button.btn.btn-xs.btn-danger(ng-click="deleteUserCorpora(corpus)"): i.fa.fa-close
                            tfoot
                                tr
                                    td.text-center(colspan="2")
                                        div(st-pagination="", st-items-by-page="10", st-template="template/smart-table/pagination2.html")
                                    td: button.btn.btn-xs.btn-danger(ng-click="deleteAllUserCorpora()") Delete all

    +feature('Configuration', 'SEC_CONFIG')
        .row
            form(ng-submit="submit()")
                .col-xs-12.col-md-8
                    .form-group
                        label.control-label(for="wordCount") {{ 'SEC_CONFIG_WORDLISTLENGTH' | translate: {'wordlistLength' : wordCount} }}
                        input(ng-model="wordCount", id="wordCount", type="range",
                              min=100, max=20000, step=100, class="form-control")
                    .form-group
                        label.control-label(for="")
                            | {{ 'SEC_CONFIG_CORPUSSELECTION_TEXT' | translate }}
                        ui-select(multiple, searchEnabled="true", close-on-select="false",
                                  theme="bootstrap", ng-model="sel.corpora")
                            ui-select-match(placeholder="{{ 'SEC_CONFIG_CORPUSSELECTION_FILLIN' | translate}}") {{$item.displayName}}
                            ui-select-choices(
                                repeat="corpus.name as corpus in corpora | filter: $select.search | orderBy: 'language' | limitTo: limit",
                                group-by="'language'"
                            )
                                div(ng-bind-html="corpus.displayName | highlight: $select.search")
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="requestName") {{ 'SEC_CONFIG_REQUESTNAME' | translate }}
                        input.form-control(ng-model="requestName", id="requestName", type="text")
                    .form-group
                        label.control-label(for="") {{ 'SEC_CONFIG_SIMMEASURE' | translate }}
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.metric")
                            ui-select-match: div {{$select.selected.title}}
                            ui-select-choices(repeat="metric.key as metric in metrics", group-by="metricgroup")
                                div(ng-bind-html="metric.title | highlight: $select.search")
                    button.col-xs-12.btn(
                        ng-class="[validation() ? 'btn-disabled' : 'btn-primary']",
                        type="submit",
                        popover="{{validation()}}",
                        popover-trigger="mouseenter",
                        popover-placement="left"
                    ) {{ 'SEC_CONFIG_SEND' | translate }}

    +feature('Jobauswahl', 'SEC_JOBS')
        .row#jobs
            .col-xs-12: .list-group
                a.list-group-item.list-group-item-warning(href="./corpora/#", ng-show="jobs.length === 0")
                    | {{ 'SEC_JOBS_NOJOBS' | translate }}
                a.list-group-item.col-xs-6.col-sm-4.col-lg-3(
                href="./corpora/#",
                ng-repeat="(jobid, jobdata) in jobs",
                ng-click="selectJob(jobdata)",
                ng-dblclick="setConfig(jobdata)",
                ng-class="['list-group-item-' + (jobdata.finished ? (jobdata.new ? 'success' : 'info') : 'warning') +" +
                "(currentJob() === jobdata.requestId ? ', active' : '')]"
                )
                    span.badge(ng-show="!jobdata.finished"): i.fa.fa-spinner.fa-spin
                    span.badge(ng-show="jobdata.new"): i.fa.fa-check
                    span.badge(ng-show="!jobdata.new && jobdata.finished", ng-click="deleteJob(jobdata)")
                        i.fa.fa-remove
                    samp.left {{'#'+jobdata.requestId}}
                    h4 {{jobdata.requestName}}
                    samp
                        span(ng-repeat="corpus in jobdata.corpora | limitTo: 3")
                            | {{corpus.displayName}},
                            br
                        | {{ 'SEC_JOBS_MORE' | translate: {count:jobdata.corpora.length-3} }}
            .col-xs-3.col-xs-offset-9
                form: .form-group: button.col-xs-12.btn.btn-info(type="button", ng-click="resetJobs()") {{ 'SEC_JOBS_RESET' | translate}}

    +feature('Visualisierung', 'SEC_VIS')
        .row
            form
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="maxClusterDiameter")
                            | {{ 'SEC_VIS_CLUSTERTHRESHHOLD' | translate : { threshold :  (maxClusterDiameter * 100).toFixed(2)+'%'} }}
                        input.form-control(ng-model="maxClusterDiameter", id="maxClusterDiameter",
                        type="range", min=0, max=1, step=0.001)
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="heatMapColors") {{ 'SEC_VIS_COLORSCALE' | translate }}
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.colors")
                            ui-select-match: div {{$select.selected.name}}
                            ui-select-choices(repeat="color.key as color in heatMapColors")
                                div(ng-bind-html="color.name | highlight: $select.search")
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="") {{ 'SEC_VIS_SORTING' | translate }}
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.sorting")
                            ui-select-match: div {{$select.selected.title | translate }}
                            ui-select-choices(repeat="sorting.key as sorting in sortings")
                                div(ng-bind-html="sorting.title | translate | highlight: $select.search")
            #visualization

    +feature('Statistik', 'SEC_STATS')
        .row(ng-show="statsEmpty")
            div.col-xs-12
                h4 Please select two distinct corpora!
        .row(ng-hide="statsEmpty")
            div.col-xs-12
                form
                .col-xs-4.col-xs-offset-4
                    .form-group
                        label.control-label(for="POSTags")
                            | {{ 'SEC_STATS_POSLABEL' | translate }}
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.PosTags")
                            ui-select-match: div {{'SEC_STATS_POS_' + $select.selected | translate }}
                            ui-select-choices(repeat="posTag in statistic.resultLists.availablePOSTags")
                                div(ng-bind-html="'SEC_STATS_POS_' + posTag | translate | highlight: $select.search")
                .col-xs-4
                    .form-group
                        label.control-label(for="paginationSize")
                            | {{ 'SEC_STATS_PAGINATIONSIZE' | translate : { x : paginationSize} }}
                        input.form-control(ng-model="paginationSize", id="paginationSize",
                        type="range", min=10, max=100, step=5)
        .row(ng-hide="statsEmpty")
            +wordList("more", "source")
            +wordList("more", "target")
        .row(ng-hide="statsEmpty")
            +wordList("only", "source")
            +wordList("only", "target")
    // Padding nach unten
    .row
        p