include ../mixins.jade

.container
    +feature('Configuration', 'SEC_CONFIG')
        .row
            form(ng-submit="submit()")
                .col-xs-12.col-md-8
                    .form-group
                        label.control-label(for="wordCount") {{ 'SEC_CONFIG_WORDLISTLENGTH' | translate: {'wordlistLength' : wordCount} }}
                        input(ng-model="wordCount", id="wordCount", type="range",
                              min=100, max=20000, step=100, class="form-control")
                    .form-group
                        label.control-label(for="")
                            | {{ 'SEC_CONFIG_CORPUSSELECTION_TEXT' | translate }}
                        ui-select(multiple, searchEnabled="true", close-on-select="false",
                                  theme="bootstrap", ng-model="sel.corpora")
                            ui-select-match(placeholder="{{ 'SEC_CONFIG_CORPUSSELECTION_FILLIN' | translate}}") {{$item.displayName}}
                            ui-select-choices(
                                repeat="corpus.name as corpus in corpora | filter: $select.search | orderBy: 'language' | limitTo: limit",
                                group-by="'language'"
                            )
                                div(ng-bind-html="corpus.displayName | highlight: $select.search")
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="requestName") {{ 'SEC_CONFIG_REQUESTNAME' | translate }}
                        input.form-control(ng-model="requestName", id="requestName", type="text")
                    .form-group
                        label.control-label(for="") {{ 'SEC_CONFIG_SIMMEASURE' | translate }}
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.metric")
                            ui-select-match: div {{$select.selected.title}}
                            ui-select-choices(repeat="metric.key as metric in metrics", group-by="metricgroup")
                                div(ng-bind-html="metric.title | highlight: $select.search")
                    button.col-xs-12.btn(
                        ng-class="[validation() ? 'btn-disabled' : 'btn-primary']",
                        type="submit",
                        popover="{{validation()}}",
                        popover-trigger="mouseenter",
                        popover-placement="left"
                    ) {{ 'SEC_CONFIG_SEND' | translate }}

    +feature('Jobauswahl', 'SEC_JOBS')
        .row#jobs
            .col-xs-12: .list-group
                a.list-group-item.list-group-item-warning(href="./corpora/#", ng-show="jobs.length === 0")
                    | {{ 'SEC_JOBS_NOJOBS' | translate }}
                a.list-group-item.col-xs-6.col-sm-4.col-lg-3(
                href="./corpora/#",
                ng-repeat="(jobid, jobdata) in jobs",
                ng-click="selectJob(jobdata)",
                ng-dblclick="setConfig(jobdata)",
                ng-class="['list-group-item-' + (jobdata.finished ? (jobdata.new ? 'success' : 'info') : 'warning') +" +
                "(currentJob() === jobdata.requestId ? ', active' : '')]"
                )
                    span.badge(ng-show="!jobdata.finished"): i.fa.fa-spinner.fa-spin
                    span.badge(ng-show="jobdata.new"): i.fa.fa-check
                    span.badge(ng-show="!jobdata.new && jobdata.finished", ng-click="deleteJob(jobdata)")
                        i.fa.fa-remove
                    samp.left {{'#'+jobdata.requestId}}
                    h4 {{jobdata.requestName}}
                    samp
                        span(ng-repeat="corpus in jobdata.corpora | limitTo: 3")
                            | {{corpus.displayName}},
                            br
                        | {{ 'SEC_JOBS_MORE' | translate: {count:jobdata.corpora.length-3} }}
            .col-xs-3.col-xs-offset-9
                form: .form-group: button.col-xs-12.btn.btn-info(type="button", ng-click="resetJobs()") {{ 'SEC_JOBS_RESET' | translate}}

    +feature('Visualisierung', 'SEC_VIS')
        .row
            form
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="maxClusterDiameter")
                            | {{ 'SEC_VIS_CLUSTERTHRESHHOLD' | translate : { threshold :  (maxClusterDiameter * 100).toFixed(2)+'%'} }}
                        input.form-control(ng-model="maxClusterDiameter", id="maxClusterDiameter",
                        type="range", min=0, max=1, step=0.001)
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="heatMapColors") {{ 'SEC_VIS_COLORSCALE' | translate }}
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.colors")
                            ui-select-match: div {{$select.selected.name}}
                            ui-select-choices(repeat="color.key as color in heatMapColors")
                                div(ng-bind-html="color.name | highlight: $select.search")
                .col-xs-12.col-md-4
                    .form-group
                        label.control-label(for="") {{ 'SEC_VIS_SORTING' | translate }}
                        ui-select(searchEnabled="true", theme="bootstrap", ng-model="sel.sorting")
                            ui-select-match: div {{$select.selected.title | translate }}
                            ui-select-choices(repeat="sorting.key as sorting in sortings")
                                div(ng-bind-html="sorting.title | translate | highlight: $select.search")
            #visualization

    +feature('Statistik', 'SEC_STATS')
        .row(ng-show="statsEmpty")
            div.col-xs-12
                h4 Please select two distinct corpora!
        .row(ng-hide="statsEmpty")
            div.col-xs-6(ng-repeat="result in statistic.resultLists['bothLists']")
                h4 {{ 'SEC_STATS_TITLEBOTH' | translate : {corpus : result.corpora[$index]} }}
                table.table.table-bordered.table-striped(st-table="result.list")
                    thead
                        tr
                            th.col-xs-6(st-sort="word") {{ 'SEC_STATS_WORD' | translate }}
                            th.col-xs-3(st-sort="freq1") {{ 'SEC_STATS_COUNTINX' | translate : {x: result.corpora[0]} }}
                            th.col-xs-3(st-sort="freq2") {{ 'SEC_STATS_COUNTINX' | translate : {x: result.corpora[1]} }}
                        tr
                            th(colspan="3"): input(st-search="word", placeholder="Search for word...", class="input-sm form-control", type="search")
                    tbody
                        tr(ng-repeat="word in result.list | limitTo: 10")
                            td {{word.word}}
                            td {{word.freq1}}
                            td {{word.freq2}}
                            .row
                    tfoot
                        tr
                            td.text-center(colspan="3")
                                div(st-pagination="", st-items-by-page="10", st-displayed-pages="7" st-template="template/smart-table/pagination2.html")

            div.col-xs-6(ng-repeat="result in statistic.resultLists['oneList']")
                h4 {{ 'SEC_STATS_TITLEONLY' | translate : {corpus : result.corpora[$index]} }}
                table.table.table-bordered.table-striped(st-table="result.list")
                    thead
                        tr
                            th.col-xs-11(st-sort="word") {{ 'SEC_STATS_WORD' | translate }}
                            th.col-xs-1(st-sort="freq") {{ 'SEC_STATS_COUNT' | translate }}
                        tr
                            th(colspan="2"): input(st-search="word", placeholder="Search for word...", class="input-sm form-control", type="search")
                    tbody
                        tr(ng-repeat="word in result.list")
                            td {{word.word}}
                            td {{word.freq}}
                    tfoot
                        tr
                            td.text-center(colspan="2")
                                div(st-pagination="", st-items-by-page="10", st-displayed-pages="7" st-template="template/smart-table/pagination2.html")

    // Padding nach unten
    .row
        p